<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent"> 
    <div class="container-fluid">
      <button type="button" id="sidebarCollapse" class="btn btn-light btn-main-menu">
        <i class="fas fa-bars fa-align-justify"></i>
      </button>
    </div>
    <% if (currentUser) { %>
      <li class="nav-item list-unstyled">
        <a id="logout-btn" class="nav-link">Logout</a>
      </li>      
    <% } else { %>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#loginModal">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#signupModal">Signup</a>
      </li>
    <% } %> 
    </ul>
  </div>
</nav>

<script>
  $(document).ready(function () {
    $('#sidebarCollapse').on('click', function () {
      $('#sidebar').toggleClass('d-flex');
      $('.btn-main-menu').toggleClass('clicked');
    })
  })
  
  $(document).ready(function() {
    $('#logout-btn').on('click', function(e) {
      e.preventDefault()
        axios({
          method: 'delete',
          url: '/api/auth/logout',
      }).then(function(resp) {
        window.location.reload()
    })
  })
})
</script>


