<nav id="sidebar">
  <div class="sidebar-header">
    <h3>WKY CONNECTION</h3>
  </div>
  <ul class="list-unstyled components">
    <p>Aimed to achieve something great, did it, great failure </p>
    <li><a href="/"> <i class="fas fa-home fa-fw"></i>Home</a></li>
    <li>           
      <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-bars fa-fw"></i>Categories</a>
      <ul class="collapse list-unstyled" id="pageSubmenu">
        <li><a href="/Work">Work</a></li>
        <li><a href="/Social">Social</a></li>
        <li><a href="/Relationship">Relationship</a></li>
      </ul>
    </li>
    <% if (currentUser) { %> 
      <!-- <li><a class="nav-link" data-toggle="modal" data-target="#userEditModal">TBC</a></li> -->
      <li><a href="/user/<%= currentUser.id %>"><i class="fas fa-user fa-fw"></i>Profile</a></li>
      <li><a class="nav-link" data-toggle="modal" data-target="#createpostModal"><i class="fas fa-plus fa-fw"></i>Create Post</a></li>
    <% } %> 
  </ul>
</nav>