<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signupModalLabel">Signup</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="signup-form">
          <!-- Upload image input-->
          <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
            <input id="upload" type="file" onchange="readURL(this);" class="form-control border-0" name="avatar">
            <label id="upload-label" for="upload" class="font-weight-light text-muted">Choose file</label>
            <div class="input-group-append">
              <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i class="fa fa-cloud-upload mr-2 text-muted"></i><small class="text-uppercase font-weight-bold text-muted">Choose file</small></label>
            </div>
          </div>
          <!-- Uploaded image area-->
          <p class="font-italic text-muted text-center">The image uploaded will be rendered inside the box below.</p>
          <div class="image-area mt-4"><img id="imageResult" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block"></div>
          <!-- Username -->
          <div class="form-group">
            <label for="signup-username">Username</label>
            <input type="text" class="form-control" id="signup-username" name="username">
          </div>
          <div class="form-group">
            <label for="signup-email">Email</label>
            <input type="text" class="form-control" id="signup-email" name="email">
          </div>
          <div class="form-group">
            <label for="signup-password">Password</label>
            <input type="password" class="form-control" id="signup-password" name="password">
          </div>
          <div class="mt-4 mb-2 border-bottom row"></div>
          <div class="container text-right">
            <button type="submit" class="signup-submit btn btn-light"><i class="fas fa-check"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
  $signupModal = $('#signupModal')
  $loginModal = $('#loginModal')

  $('#signup-form').on('submit', function(e) {
    e.preventDefault()

    axios({
      method: 'post',
      url: '/api/auth/signup',
      data: new FormData(e.target)
    }).then(function(response) {
      $signupModal.modal('hide')
      $loginModal.modal('show')
    }).catch(function(err) {
      err.response.data
    })
  })
})

function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function (e) {
      $('#imageResult').attr('src', e.target.result);
    };
    reader.readAsDataURL(input.files[0]);
  }
}

$(function () {
  $('#upload').on('change', function () {
    readURL(input);
  });
});

var input = document.getElementById( 'upload' );
var infoArea = document.getElementById( 'upload-label' );

input.addEventListener( 'change', showFileName );
function showFileName( event ) {
  var input = event.srcElement;
  var fileName = input.files[0].name;
  infoArea.textContent = 'File name: ' + fileName;
}

</script>
</script>
