<div class="modal fade" id="userEditModal" tabindex="-1" role="dialog" aria-labelledby="userEditModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="userEditModalLabel">Edit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="userEdit-form">
          <div class="form-group">
            <label for="userEdit-username">Username</label>
            <input type="text" class="form-control" id="userEdit-username" name="username" value="<%= currentUser.username%>">
          </div>
          <div class="form-group">
            <label for="userEdit-email">Email</label>
            <input type="text" class="form-control" id="userEdit-email" name="email" value="<%= currentUser.email%>">
          </div>
          <!-- <div class="form-group">
            <label for="userEdit-password">Password</label>
            <input type="text" class="form-control" id="userEdit-password" name="password">
          </div> -->
          <div class="mt-4 mb-2 border-bottom row"></div>
          <div class="container text-right">
            <button type="submit" class="user-submit btn btn-light"><i class="fas fa-check"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $userEditModal = $('#userEditModal')
  
    $('#userEdit-form').on('submit', function(e) {
      e.preventDefault()
  
      axios({
        method: 'PUT',
        url: '/api/my/profile',
        data: new FormData(e.target)
      }).then(function(response) {
        window.location.reload()
      }).catch(function(err) {
        console.log(err.response)
      })
    })
  })
  </script>